.button-container {
    text-align: center;

}

/* .hello-heading {
    font-family: "Caveat";
    font-style: italic;
    font-weight: bold;
    font-size: 24px; 

} */

.hello-heading {
    font: italic 900 30px "Roboto";
}



.paragraph {
    height: 100px;
    width: 400px;
    border: 2px solid blue;
    overflow-x: scroll;
    color: blue;
}


.job-experiance {
    height: 90px;
    width: 300px;
    border: 2px solid red;
    overflow: hidden;
    color: red;
    /* overflow: scroll; */
    /* the overflow content will be clipped and rest of the content will be invisible. */
}

.intrests {
    width: 90px;
    height: 90px;
    border: 2px solid rgb(9, 236, 85);
    overflow: auto;
    color: rgb(19, 200, 115);
}

.minmax {
    min-width: 30px;
    width: 72px;
    max-width: 150px;
    /* overflow: auto; */
    min-height: 900px;
    max-height: 1200px;
    border: 2px solid yellow;

}

body {
    margin: 10px;
}

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/summer-collection-bg.png");
    height: 100vh;
    background-size: cover;
    border: 1px solid grey;
    /* max-width: 600px; */
}

.image {
    width: 100%;
    max-width: 500px;
}

.card-container {
    background-color: white;
    width: 60%;
    border-radius: 24px;
    border: 3px solid grey;
    margin: auto;
    margin-top: 80px;
    max-width: 800px;

}

.heading {
    margin: 20px;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 700px;
}

.card-body {
    overflow: auto;
    height: 60vh;
    /* border: 2px solid yellow; */
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid grey;
}

.description {
    font-size: 18px;
    color: #594d6d;

}

.button {
    background-color: bisque;
    border-radius: 20px;
    /* border-width: 0px; */
    border: 3px solid rgb(171, 168, 168);
    padding: 12px;
    font-size: 16px;
    font-weight: bolder;
}

* {
    box-sizing: border-box;
}

.boxes-container {
    height: 100vh;
    border: 10px solid goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {

    color: white;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}

.box-1 {
    background-color: #1abc9c;
}

.box-2 {
    background-color: #e60ab6;
}

.box-3 {
    background-color: #065af5;
}

.box-4 {
    background-color: #d3e10c;
}

.box-5 {
    background-color: #7b0c2d;
}

.box-6 {
    background-color: #58d13c;
}

.box-7 {
    background-color: #3f1c1c;
}

.box-8 {
    background-color: #cead1b;
}

.box-9 {
    background-color: #070313;
}

.box-10 {
    background-color: #d7cccf;
}

.box-11 {
    background-color: #1699e0b6;
}

.box-12 {
    background-color: #dda2b2;
}


.bg-container-frntEnd-dev {
    background-color: #065af5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.l-p-c-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;

}


.learning-path-cards {
    background-color: white;
    height: 50px;
    width: 210px;
    border-radius: 10px;
    /* padding: 10px; */
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    padding: 12px;
}

.frntend-heading {
    color: white;
}

.frntend-description {
    color: white;
    text-align: center;
}

.border-green {
    border-left: 8px solid #58d13c;
}

.border-skyblue {
    border-left: 8px solid #0ed3c9;
}

.border-orange {
    border-left: 8px solid #ca560e;
}

.border-greenyellow {
    border-left: 8px solid #c4da1d;
}

.border-violet {
    border-left: 8px solid violet;
}

.border-pink {
    border-left: 8px solid pink;
}

.border-black {
    border-left: 8px solid black;
}

.border-red {
    border-left: 8px solid red;
}




















.buttons-container {
    border: 10px solid rgba(20, 231, 34, 0.224);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}

.backg-container-musicworld {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/music-section-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.descr-abt-music {
    color: white;
    font-size: 15px;
    text-align: center;
}

.outline-button-lm {
    color: aliceblue;
    background-color: #061634;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 10px;
    padding: 9px;
    width: 80px;
}

.button-gs {
    border-radius: 20px;
    background-color: bisque;
    border: none;
    font-size: 10px;
    padding: 10px;
    width: 80px;
}